<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin form</title>
   </head>
<body >
    <form method="post" align="center" >
        <h3>Login</h3>
        <div>Name : <input type="text" id="name" name="name"/></div><br><br>
        <div>Mail id : <input type="email" id="id" name="id"/></div><br><br>
        <div>Password : <input type="password" id="password" name="password"/></div><br><br>
   
           
         </div>
        <h4><%=message%></h4>
        <h5>Don't have an account?<a href="registration"></a></h5>
        <input type="submit" id="submit" name="submit" value="Register here"/>
    </form>
   
</body>
</html> 